<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body>

  {% include nav.html %}

  <main id="main" role="main">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="inner">
      <p>© {{ site.time | date: "%Y" }} Rowan Ainsbury •
        <a href="https://github.com/torchii47/torchii47.github.io">Edit on GitHub</a> •
        Last updated: {{ site.time | date: "%d %b %Y" }}
      </p>
    </div>
  </footer>

</body>
</html>
